doctype html

head
    title Recording
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://unpkg.com/minizip-asm.js@1.0.10/lib/minizip-asm.min.js")
    link(rel="stylesheet", href="/css/common.css", type="text/css")

    style.
        audio {
            padding: 10px 0px;
            display: block;
        }
        
        a {
            display: block;
        }

body
    p= file

    a(href=fileURL) Download ZIP

    input#password(type="password", placeholder="Password", onkeypress="checkPass(event)")

    #files

    script.
        const files = document.getElementById("files");
        const passInput = document.getElementById("password");

        var authenticated;

        function checkPass(e) {
            if (e.key === "Enter" && !authenticated) {
                const password = passInput.value;
                passInput.value = "";

                axios.get("#{fileURL}", { responseType: "arraybuffer" }).then(res => {
                    const mz = new Minizip(new Uint8Array(res.data));

                    for (const path of mz.list()) {
                        const data = mz.extract(path.filepath, { password });

                        authenticated = true;

                        const blob = new Blob([data.buffer], { type: "audio/wav" });

                        files.innerHTML += `
                            <span>${path.filepath}</span>
                            <audio src="${URL.createObjectURL(blob)}" controls />
                        `;
                    }
                });
            }
        }